#homepage-container {
  display: flex;
  width: 100%;
  flex-flow: column; }

#homepage-title {
  display: flex;
  justify-content: center;
  font-family: adobe-handwriting-ernie, sans-serif;
  width: 100%;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: 5px 10px 10px rgba(255, 255, 255, 0.1);
  text-align: center;
  background-color: black; }

#homepage-main-content {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightcoral;
  color: rgba(255, 255, 255, 0.95);
  text-align: center; }
  #homepage-main-content h1 {
    font-weight: bold;
    margin: 40px; }
  #homepage-main-content a {
    color: #00b2b2; }
