#nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  color: rgba(255, 255, 255, 0.9);
  background-color: black; }
  #nav #nav__links-container {
    display: flex;
    width: auto;
    justify-content: flex-end;
    align-items: center; }
    #nav #nav__links-container a {
      color: rgba(255, 255, 255, 0.9);
      margin: 0 15px; }
  #nav #nav-title {
    font-family: adobe-handwriting-ernie, sans-serif;
    margin: 0; }
